* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 245, 252);
    color: rgb(10, 56, 113);
}

.logo {
    margin-top: 20px;
    width: 80px;
}

#textareaEscribir {
    margin-left: 120px;
    resize: none;
    outline: transparent;
    border: none;
    font-size: 30px;
    height: 430px;
    margin-top: 20px;
}

section {
    border-radius: 20px;
    text-align: center;
    height: 550px;
    position: absolute;
    top: 30px;
    right: 120px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    width: 300px;
    overflow-y: auto;
}

#resultadoEncriptado {
    font-size: 30px;
    padding: 30px 20px 10px 20px;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-height: 100%;
}

#textoEncriptador {
    font-size: small;
    margin-left: 120px;
}

.noEncontrado {
    width: 300px;
    margin-top: 100px;
}

.btn {
    width: 27.8vw;
    height: 7vh;
    border-radius: 10px;
    cursor: pointer;
}

#btnEncriptar {
    background-color: rgb(10, 56, 113);
    color: rgb(243, 245, 252);
    border: none;
    margin-left: 120px;
}

#btnEncriptar:hover {
    background-color: rgb(243, 245, 252);
    color: rgb(10, 56, 113);
    border: 1px solid rgb(10, 56, 113);
    transition: 500ms;
}

#btnDesencriptar {
    background-color: rgb(243, 245, 252);
    border: 1px solid rgb(10, 56, 113);
}

#btnDesencriptar:hover {
    background-color: rgb(10, 56, 113);
    color: rgb(243, 245, 252);
    transition-duration: 500ms;
}

footer {
    margin-top: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: grey;
    transition: 500ms;
}

#btnCopiar {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 20vw;
    border: 1px solid rgb(10, 56, 113);
}

#btnCopiar:hover {
    background-color: rgb(10, 56, 113);
    color: rgb(243, 245, 252);
    transition-duration: 500ms;
}

@media only screen and (max-width: 768px) {
    section {
        position: relative;
        height: auto;
        padding: 0 20px;
    }

    .noEncontrado {
        display: none;
    }
}